<div class="p-8">
  <div class="category-buttons mb-4">
    <button *ngFor="let category of categories" (click)="selectCategory(category.id)"
      [class.active]="selectedCategoryId === category.id">
      {{ category.name }}
    </button>
  </div>

  <div class="item-grid" *ngIf="items.length > 0">
    <div *ngFor="let item of items" class="item-card">
      <img [src]="item.image_url" alt="{{ item.name }}">
      <!-- <img src="assets/images/shirt.webp"> -->
      <h3>{{ item.name }}</h3>
      <p>{{ item.amount }} THB</p>
      <button (click)="addToCart(item)">Add To Cart</button>
    </div>
  </div>

  <!-- cart -->
  <div *ngIf="cart.length > 0" class="cart-panel">
    <h2 class="cart-header">Cart</h2>

    <div *ngFor="let item of cart" class="cart-item">
      <div class="item-info">
        <strong>{{ item.name }}</strong>
        <span>{{ item.amount }} THB x {{ item.quantity }}</span>
      </div>
      <button (click)="removeFromCart(item.id)">X</button>
    </div>

    <h3 class="cart-total">Taoal: {{ getTotal() }} THB</h3>
    <button class="clear-button" (click)="clearCart()">Clear Cart</button>
  </div>


  <div class="discount-section mt-6">
    <h2>Discount</h2>

    <!-- Coupon -->
    <div>
      <label>
        <input type="radio" name="coupon" (change)="selectCampaign('fixed')">Fixed Amount
      </label>
      <input type="number" [(ngModel)]="campaignParams.fixedAmount" placeholder="ex 50 THB">
    </div>

    <div>
      <label>
        <input type="radio" name="coupon" (change)="selectCampaign('percent')"> Percentage discount (%)
      </label>
      <input type="number" [(ngModel)]="campaignParams.percent" placeholder="ex 10%">
    </div>

    <!-- On Top -->
    <div>
      <label>
        <input type="radio" name="onTop" (change)="selectCampaign('categoryPercent')">Percentage discount by item category
      </label>
      <select [(ngModel)]="campaignParams.category">
        <option value="Clothing">Clothing</option>
        <option value="Accessories">Accessories</option>
      </select>
      <input type="number" [(ngModel)]="campaignParams.categoryPercent" placeholder="% เช่น 15">
    </div>

    <div>
      <label>
        <input type="radio" name="onTop" (change)="selectCampaign('points')">Customer Points
      </label>
      <input type="number" [(ngModel)]="campaignParams.points" placeholder="แต้มที่ใช้ เช่น 68">
    </div>

    <!-- Seasonal -->
    <div>
      <label>
        <input type="checkbox" (change)="toggleSeasonal($event)">Special campaigns
      </label>
      <div *ngIf="seasonalEnabled">
        Every <input type="number" [(ngModel)]="campaignParams.seasonalX" placeholder="ex 300"> THB
        Discount <input type="number" [(ngModel)]="campaignParams.seasonalY" placeholder="ex 40"> THB
      </div>
    </div>

    <button class="apply-button" (click)="applyDiscounts()">Apply Discount</button>

    <div class="result mt-4">
      <strong>Total After Discount: {{ finalTotal }} THB</strong>
    </div>
  </div>
</div>